<div>
    <h1>Project Employee List</h1>
</div>

<input type="checkbox" [(ngModel)]='list'>Employee List |
<input type="checkbox" [(ngModel)]='crud'> Employee Crud Operations

<hr>

<app-employee-list *ngIf='list'></app-employee-list>
<app-employee-crud *ngIf='crud'></app-employee-crud>
