<div>
    <h1>List of Employees</h1>

    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let e of employees; let i=index'>
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.role}}</td>
                <td>{{e.salary}}</td>
                <td>
                    <a href='#' (click)='getEmployeeForIndex(i)'>Select</a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    ID: {{emp.id}} <br>
    Name: {{emp.name}} <br>
    Role: {{emp.role}} <br>
    Salary: {{emp.salary}} <br>
</div>