<div>
    <h1>Employee - Create Retrieve Update Delete</h1>

    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td><input type="number" [(ngModel)]='emp.id'></td>
                <td>
                    <button (click)="createNewEmployee()">Create Employee</button>
                </td>
            </tr>
            <tr>
                    <td>Name</td>
                    <td><input type="text" [(ngModel)]='emp.name'></td>
                    <td>
                        <button (click)="retrieveEmployee(emp.id)">Retrieve Employee</button>
                    </td>
                </tr>
                <tr>
                        <td>Role</td>
                        <td><input type="text" [(ngModel)]='emp.role'></td>
                        <td>
                            <button (click)="updateEmployee(emp.id)">Update Employee</button>
                        </td>
                    </tr>
                    <tr>
                            <td>Salary</td>
                            <td><input type="number" [(ngModel)]='emp.salary'></td>
                            <td>
                                <button (click)="deleteEmployee(emp.id)">Delete Employee</button>
                            </td>
                        </tr>
        </tbody>
    </table>
</div>
